*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 20px;
}
a
{
    color: #eee;
    text-decoration: none;
}
nav .inner i
{
    position: fixed;
}
nav
{
    /* position: fixed; */
    width: 100%;
    padding-top: 30px;
}
nav .inner{
    display: grid;

    grid-template-columns: repeat(2,30%);
    justify-content: space-between;
    font-size: .9rem;
    text-transform: uppercase;
}
.navs 
{
    list-style: none;
     position: fixed;
    right: 0%;
    z-index: 999;
    width: 100%;
    height: 100vh; 
    background-color: black;
    opacity: .7;
    color: #eee;
    text-align: center;
    transform: translateX(100%);
    margin-top: 50px;
    transition-duration: .5s;
}
.navs li 
{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
}
.active 
{
    transform: translateX(0%) !important;
}
nav i{
    justify-self: end;
    font-size:1.4rem;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}
header
{
    margin: 0 auto;
    background-image: url("../images/slider-bg.jpg");
    width: 100%;
    padding-bottom: 300px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: top ;
}
#shop_me
{
    background-image: url("../images/mains2.jpg");
}
#shop_me .main,#about_us .main,#bloger .main
{
    padding: 0;
    margin-top: 75px;
}
#about_us
{
    background-image: url("../images/mains3.jpg");
}
#bloger
{
    background-image: url("../images/mains22.jpg");
}
.inner
{
    width: 90%;
    margin: 0 auto;
}
header .inner .main
{
    padding-top: 200px;
}
.main
{
    display: grid;
    grid-template-columns: 49%;
    row-gap: 50px;
}
.main h1
{
    font-size: 3rem;
    /* margin-top: 40px; */

}
.main p{
    font-size: 1.4rem;
}

.main button,.sec2 button,.sec3 button,.sec4 button,.sec5 button{
    width: 150px;
    height: 50px;
    border: .1px solid orangered;
    background-color: transparent;
    color: orangered;
    text-transform: capitalize;
       transition-duration: .3s;
}
.main button:hover,.sec2 button:hover,.sec3 button:hover,.sec4 button:hover,.sec5 button:hover
{
    color: white;
 
    background-color: orangered;
}
.sec2 .inner
{
    display: grid;
    grid-template-columns: 100%;
    gap: 50px 0;
}
.sec2 .inner h1{
    margin-top: 50px;
    text-align: center;
}
.sec2 .inner .main
{
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: space-between;
}
.sec2 .inner .main .block
{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px 0;
    background-color: #eee;
    padding: 14px;
}
.sec2 .inner .main .block .dat
{
    display: grid;
    grid-template-columns: repeat(2,49%);
    /* justify-content: space-between; */
}
.block img
{
    width: 70%;
    justify-self: center;
}
.price span
{
    color: orange;
}
.price
{
    justify-self: end;
}
.block p{
    border-radius: 100%;
    background-color: white;
    font-size: .9rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    width: 50px;
    height: 50px;
}
.im img{
    height: 180px;
}
.sec2 button
{
    justify-self: center;
}


.sec3 .inner
{
    display: grid;
    grid-template-columns: repeat(2,47%);
    justify-content: space-between;
}
.sec3 .inner .prt .pic .pics::before
{
    width: 40%;
    height: 50%;
    background-color: black;
     position: absolute;
    content: "";
    top: -25px;
    left: -25px;
    z-index: -1; 
    
}
.sec3 .inner .prt .pic .pics
{
    position: relative;
    z-index: 1;
    /* top: -220px;
    left: 30px; */
    /* z-index: 2; */
}
.sec3 .pic .pics img
{
    width: 100%;
    height: 100%;
}
.sec3 .inner .txt
{
    display: grid;
    gap: 30px;
    align-content: center;
}
.txt p,.txt button
{
/* margin-top: 20px; */
}
.txt h2
{
    /* margin-top: 80px; */
    text-transform: uppercase;
}
.sec3
{
    margin-top: 80px;
}

.sec4
{
    
    display: grid;
    grid-template-columns: 60% 38%;
    height: 80vh;
    width: 97%;
    margin: 50px auto;
    justify-content: space-between;
}
.right .top,.right .bottom
{
    /* height: 48%; */

}
.right
{
    display: grid;
    row-gap: 10px;
}
.top,.bottom,.left
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.top
{
    background-image: url("../images/o2.jpg");
}
.bottom
{
    background-image: url("../images/o3.jpg");
}
.left
{
    background-image: url("../images/o1.jpg");
}
.top img,.bottom img,.left img
{
    width: 100%;
}
.top ,.bottom ,.left
{
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4 .left,.sec4 .right .top,.sec4 .right .bottom
{
    /* margin: 80px; */
    display: grid;
    padding: 10px;
    gap: 20px;
    color: white;
}
.sec4 .left
{
    align-content: start;
}
.sec4 .right .top
{
    /* align-self: end;
    justify-self: end; */
    align-content: end;
    justify-content: end;
}
.sec4 .right .top button
{
    justify-self: end;
}
.sec4 .right .bottom
{
    align-content: end;
}
.sec4 .right .bottom button
{
    margin-left: 30px;
}



.sec5 .txt h2{
    text-align: center;
    margin: 40px 0;
}

.sec5 .inner
{
    display: grid;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
}
.sec5 .inner img
{
    width: 100%;
}
.sec5 .lft,.sec5 .righty
{
    background-color: #eee;
    margin: 10px 0;
}
.sec5 .inner .lft .tem,.sec5 .inner .righty .tem
{
    display: grid;
    gap: 20px;
    
    padding: 20px;
}
#tem
{
    font-size: 1.5rem;
    position: relative;
}
.sec5 .tem #tem::before
{
    background-color: black;
    width: 70px;
    height: 70px;
    content: "15 Aug";
    color: white;
    border: 3px solid white;
    
    text-align: center;
    position: absolute;
    top: -60px;
    left: 20px;
}

.sec6 
{
    text-align: center;
    text-transform: uppercase;
    margin: 80px auto;
}
.sec6 .inner img
{
    width: 30%;
    border-radius: 100%;
    border: 10px solid gray;
}
.sec6 .inner
{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
   
}
.sec6 .txt
{
    margin: 40px 0;
}
.sec6 .inner .cont
{
    gap: 30px;
    display: grid;
    justify-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 50px;
}
.sec6 .inner button
{
    width: 50px;
    height: 50px;
    background-color: orangered;
    color: white;
    margin:60px  2px;
    border: none;
    border-radius: 5px;
}
.sec6 .inner button:hover
{
    background-color: black;
    transition: .5s;
}
.sec7 
{
    width: 100%;
    background-color: black;
    padding: 50px 0;
}
footer .sec7 .inner .txt
{
    display: grid;
    /* grid-template-columns: 70% repeat(3,60px); this worked */
    grid-template-columns: 75% 23%;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
}
footer .sec7 .inner .txt input
{
    height: 60px;
    width: 92%;
    padding: 15px;
    text-transform: capitalize;
}
footer .sec7 .inner .txt button
{
    padding: 22px;
    /* width: 6%; */
    background-color: orangered;
    border: 1px solid transparent;
    color: #eee;
    /* height:60px; */
}
footer .sec7 .inner .txt button:hover
{
    color: orange;
    transition-duration: .2s;
    background-color: black;
   border: 1px solid orange;
}
.sec7 .inner .txt .ico
{
    display: grid;
    grid-template-columns: repeat(3,60px);
    justify-content: space-between;
    /* gap: 60px; */

}
.sec7 .inner .txt .ico .qw
{
    color: white;
    border: 1px solid white;
    place-content: center;
    background-color: black;
    text-align: center;
   padding: 20px;
}
.sec7 .inner .txt .qw:hover
{
    color: orangered;
    border: 1px solid orangered;
    transition-duration: .3s;
}

.sec7 .inner .detail
{
    display: grid;
    grid-template-columns: repeat(4,22%);
    color: #eee;
    justify-content: space-between;
    margin-top: 40px;
}
.sec7 .inner .detail .con
{
    gap: 8px;
    display: grid;
}
.sec7 .inner .detail .con ul li
{
    margin: 10px 0;
    list-style: none;
    cursor: pointer;
}
.sec7 .inner .detail .con p
{
    text-transform: capitalize;
    margin: 10px 0;
}
.sec7 .inner .detail .con ul li a:hover
{
    color: orangered;
    transition-duration: .2s;
}
.sec7 .inner .detail .im .tm img
{
width: 70px;
height: 70px;
background-color: #eee;
padding: 10px;
margin-bottom: 10px;
}

.sec7 .inner .detail .im .tm
{
    display: grid;
    grid-template-columns: 30% 69%;
    justify-content: space-between;
    gap: 30px 0px;
    align-items: center;
}
.footer-last
{
    text-align: center;
    margin: 20px 0;
}
/* @media (min-width:1441px) and (max-width:2560px)
{
    html
    {
        font-size: 35px;
    }
    .block p 
    {
        width: 80px;
        height: 80px;
        
    }
    .sec7 .inner .txt .ico {
        grid-template-columns: repeat(3, 100px);

    }
    .sec5 .tem #tem::before
    {
        height: 120px;
        width: 120px;
        top: -110px;
    }
    .sec5 .inner .lft .tem, .sec5 .inner .righty .tem
    {
        gap: 30px;
    }
}
@media (min-width:1950px) and (max-width:1440px)
{
    html
    {
        font-size: 25px;
    }
    .sec5 .inner .lft .tem, .sec5 .inner .righty .tem
    {
        gap: 20px;
    }
    .sec7 .inner .txt .ico {
        grid-template-columns: repeat(3, 80px);

    }
    .sec5 .tem #tem::before
    {
        height: 90px;
        width: 90px;
        top: -80px;
    }
} */
@media (max-width:1024px)
{
    html
    {
        font-size: 17px;
    }
.sec2 .inner .main
    {
        grid-template-columns: repeat(3,31%);
        gap: 40px;
    }
    .sec7 .inner .detail
    {
        grid-template-columns: repeat(2,45%);
        gap: 40px ;
    }
    footer .sec7 .inner .txt input
    {
        width: 88%;
    }
    .sec6 .inner
    {
        grid-template-columns: 90%;
    }
    .sec5 .tem #tem::before
    {
        height: 70px;
        width: 70px;
        top: -70px;
    }
}

@media (max-width:992px)
{
    html
    {
        font-size: 17px;
    }
    .sec7 .inner .detail,.sec2 .inner .main
    {
        grid-template-columns: repeat(2,48%);
        gap: 40px;
    }
    footer .sec7 .inner .txt input
    {
        width: 90%;
    }
    .sec6 .inner
    {
        grid-template-columns: 90%;
    }
}
@media (max-width:768px)
{
    html
    {
        font-size: 20px;
    }
    footer .sec7 .inner .txt input
    {
        width: 85%;
    }
    header .inner .main
    {
        padding-top: 100px;
    }
}
@media (max-width:451px)
{
    html
    {
        font-size: 15px;
    }
    header
    {
        background-position: center;
    }
    .sec7 .inner .detail,.sec2 .inner .main,.sec5 .inner,.sec4,.sec3 .inner,.sec6 .inner,footer .sec7 .inner .txt

    {
        grid-template-columns: repeat(1,100%);
        justify-content: center;
        gap: 40px;

    }
    .sec2 .inner .main
    {
        grid-template-columns: 80%;
        place-content: center;
    }
    footer .sec7 .inner .txt button 
    {
        width: 20%;
    }
    footer .sec7 .inner .txt input
    {
        width: 80%;
    }
    .sec7 .inner .txt .ico {
        gap: 80px;
    }
    .sec7 .inner .detail .con
    {
        font-size: 1.5rem;
    }
    .sec5 .tem #tem::before 
    {
        font-size: 2rem;
    }
    header .inner .main
{
    padding-top: 160px;
}

}
@media (max-width:320px)
{
    .sec7 .inner .txt .ico {
        gap: 25px;
    }
}